.container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 75%;
}

.topMenu {
  padding: 10px 0;
}

.menu {
  display: flex;
  gap: 30px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 60px;
}

.authButtons {
  display: flex;
}

.authButtons a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
}

.authButtons a:nth-child(2) {
  padding-left: 15px;
  border-left: 1px solid;
}

.authButtons a:nth-child(1) {
  padding-right: 15px;
}

.menu a,
.menu select {
  font-family: 'Montserrat';
  color: #000000;
  cursor: pointer;
  outline: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.menu a {
  text-decoration: none;
}

.menu select {
  border: none;
}
