.iconsBody {
  display: flex;
  gap: 50px;
  margin-top: 20px;
  padding-left: 20px;
}

.menuItem {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 36px;
}

.subBody {
  display: flex;
  gap: 14px;
  margin-bottom: 10px;
}

.question {
  position: relative;
  display: inline-block;
}

.subContainer {
  padding-left: 20px;
}
